body{
    margin: 0;
}
.menu{
    background-color: bisque;
    padding: 15px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.menu > img{
    margin-left: 10%;
}
.menu > ul{
    display: flex;
    flex-direction: row;
    margin: auto 10% auto 0;
}
.menu > ul > li{
    display: inline-block;
    margin-right: 15px;
    
}
.menu > ul > li > a{
    padding: 10px;
    font-size: 21px;
    font-family: sans-serif;
    color: #fff;
    text-decoration: none;
    background-color:black;
}

/* MEIO */
#meio{
    display: flex;
    margin: 1% auto;
    border-radius: 5px;
    border:solid 1px red;
    height: 600px;
    width:80%;
    padding: 15px;
}