body{
    margin: 0;
}
.menu{
    box-sizing: content-box;
    position: relative;
    width: 100%;
    display: inline-block;
    background-color: bisque;
}
.menu > img{
    
}
.menu > ul{
    display: inline-block;

    padding: 0;
}
.menu > ul > li{
    display: inline-block;

}
.menu > ul > li > a{
    padding: 10px;
    background-color: aqua;
}